/* span2 {
    color:greenyellow;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :30px;
    font-size: 30px;
    
   
}
h2{
    margin-top:-0px;
    color:green;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :20px;
    

    
}
h1.Owner{
    margin-top:-0px;
    color:green;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :20px;
    font-size: 25px
    

    
}
h1.req {
    margin-top:50px;
    color:orange;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :20px;
    font-size: 30px;
    
   
}
h1.skills{
    color:white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :20px;
    font-size: 22px;
}
h1.hello{
    color:orange;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :20px;
    font-size: 25px;
}

span{
    color:white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left :1px;

}
p{  
    margin-top:-80px;
    color:white;
    padding-left :20px;
    font-size: 20px;
    max-width: 600px;
}
h2.MN{
    margin-top:-20px;
    color: white

} */.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}