.but {
    width:20%;
    padding:1em;
    border:3px solid #4e88bb;
  }
  
  .but {
    background:#c9e6ff;
    border:0;
  }
  
  .but:hover, button:focus{
    background:#3f658a;
    color:rgb(177, 159, 159);
    outline:0;
    transition: background-color 2s ease-out;
  }
  
.flexx{
  margin-left: 30%;
  display: flex;
  justify-content: center;
  width:40%;
  padding:1em;
  border:3px solid #4e88bb;
      background-color:rgb(221, 202, 202);

}.regReq{
  color: black;
  margin-top: 1%;
  text-align: center
}.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}