
*{ 
  box-sizing: border-box;
}

.header-right {
  float: right;
}
/* .header a.active {
  background-color: dodgerblue;
  color: #021b35;
} */
.header a:hover {
  background-color: #3f658a;
  color: black;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a {
  float: left;
  color: dodgerblue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;

}
.header {
  margin:0;
  overflow: hidden;
  background-color: #021b35;
  padding: 20px 10px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.hideLink{
  text-decoration: none;
  background-color: none

}
.hideLink:hover{
  text-decoration: none;
  background-color: transparent
  
}
.loc:hover{
  background: #e1e1e1;

  border: solid 5px rgb(104, 47, 47);
  margin: -1px;
  /* border-top: 1px solid #d0d0d0; */ 
}.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}